allow bluetooth bg_boot_complete_prop:file read;
allow bluetooth bg_daemon_prop:file read;
allow bluetooth bootloader_boot_reason_prop:file read;
allow bluetooth cnd_vendor_prop:file read;
