allow hal_perf_default hal_perf_default:capability sys_admin;
allow hal_perf_default system_server:file r_file_perms;
allow hal_perf_default system_server:dir r_dir_perms;
