r_dir_file(init, vfat)
allow init sysfs:file setattr;
allow init vendor_file:file execute;
allow init hwservicemanager:binder call;
allow init hwservicemanager:binder transfer;
allow init proc_boot_reason:file r_file_perms;
allow hal_memtrack_default sysfs_kgsl:lnk_file r_file_perms;
allow system_app sysfs_kgsl:lnk_file r_file_perms;
allow hal_fingerprint_default storage_file:lnk_file r_file_perms;
allow init sysfs_graphics:file rw_file_perms;
allow init sysfs_leds:file r_file_perms;
allow init sysfs_leds:lnk_file r_file_perms;
allow init sysfs_kgsl:file create_file_perms;
allow init sysfs_kgsl:lnk_file r_file_perms;
