allow isolated_app bg_boot_complete_prop:file read;
allow isolated_app bg_daemon_prop:file read;
allow isolated_app bluetooth_prop:file read;
allow isolated_app boottime_prop:file read;
allow isolated_app console_silent_prop:file read;
