allow mm-qcamerad camera_socket:dir rw_dir_perms;
allow mm-qcamerad camera_socket:sock_file { create unlink };
allow mm-qcamerad camera_data_file:dir search;
allow mm-qcamerad crash_dump:process noatsecure;
allow mm-qcamerad fwk_sensor_hwservice:hwservice_manager find;
allow mm-qcamerad kernel:system module_request;
