allow mm-qcamerad camera_socket:dir rw_dir_perms;
allow mm-qcamerad camera_socket:sock_file { create unlink };
allow mm-qcamerad camera_data_file:dir search;
allow mm-qcamerad camera_data_file:sock_file unlink;
allow mm-qcamerad crash_dump:process noatsecure;
allow mm-qcamerad fwk_sensor_hwservice:hwservice_manager find;
allow mm-qcamerad kernel:system module_request;
allow mm-qcamerad sysfs_graphics:file read;
allow mm-qcamerad persist_camera_prop:file read;
allow mm-qcamerad sysfs:file read;
allow mm-qcamerad persist_camera_prop:file open;
allow mm-qcamerad persist_camera_prop:file getattr;
allow mm-qcamerad sysfs:file open;
allow mm-qcamerad sysfs:file getattr;
allow mm-qcamerad camera_data_file:dir write;
allow mm-qcamerad camera_data_file:dir add_name;
