allow priv_app proc_version:file r_file_perms;
allow priv_app sysfs:dir r_dir_perms;
allow priv_app sysfs_loop:file r_file_perms;
allow priv_app proc_modules:file r_file_perms;
allow priv_app device:dir r_dir_perms;
allow priv_app proc_interrupts:file r_file_perms;
allow priv_app sysfs_android_usb:file r_file_perms;
allow priv_app sysfs_graphics:file r_file_perms;
allow priv_app proc_net:file r_file_perms;
