allow priv_app proc_version:file { open };
allow priv_app proc_version:file { getattr };
allow priv_app sysfs:dir { open };
allow priv_app sysfs_loop:file { read };
allow priv_app sysfs_loop:file { open };
allow priv_app proc_modules:file { open };
allow priv_app device:dir { open };
allow priv_app proc_interrupts:file { open };
allow priv_app sysfs_android_usb:file { open };
allow priv_app sysfs_graphics:file { read };
allow priv_app sysfs_graphics:file { open };
allow priv_app proc_net:file { read };
allow priv_app proc_net:file { open };
allow priv_app proc_net:file { getattr };
