allow priv_app device:chr_file ioctl;
allow priv_app bg_boot_complete_prop:file read;
allow priv_app bg_daemon_prop:file read;
allow priv_app bluetooth_prop:file read;
allow priv_app bootloader_boot_reason_prop:file read;
allow priv_app boottime_prop:file read;
allow priv_app cnd_vendor_prop:file read;
allow priv_app console_silent_prop:file read;
allow priv_app ctl_atfwd_prop:file read;
allow priv_app adsprpcd_file:filesystem getattr;
allow priv_app ctl_LKCore_prop:file read;
allow priv_app ctl_bootanim_prop:file read;
allow priv_app ctl_bugreport_prop:file read;
allow priv_app ctl_console_prop:file read;
allow priv_app ctl_default_prop:file read;
allow priv_app ctl_dumpstate_prop:file read;
allow priv_app ctl_fuse_prop:file read;
allow priv_app ctl_interface_restart_prop:file read;
allow priv_app default_prop:property_service set;
allow priv_app device:dir { open read };
allow priv_app firmware_file:filesystem getattr;
allow priv_app proc_interrupts:file read;
