allow system_app init:binder call;
allow system_app bg_boot_complete_prop:file read;
allow system_app bg_daemon_prop:file read;
allow system_app bootloader_boot_reason_prop:file read;
allow system_app boottime_prop:file read;
allow system_app cnd_vendor_prop:file read;
allow system_app console_silent_prop:file read;
allow system_app ctl_LKCore_prop:file read;
allow system_app ctl_atfwd_prop:file read;
allow system_app fs_bpf:dir search;
