# binder
allow system_server init:binder call;

# camera
allow system_server vendor_camera_prop:file { open read getattr };
allow system_server sysfs:file read;
allow system_server bluetooth_prop:file read;
allow system_server sysfs:file open;

# input files
r_dir_file(system_server, idc_file)
r_dir_file(system_server, keylayout_file)

# smart charging
allow system_server sysfs_battery_supply:file rw_file_perms;

# touchpanel
allow system_server proc_touchpanel:dir search;
allow system_server proc_touchpanel:file rw_file_perms;
allow system_server proc_touchpanel:lnk_file read;

# vibrator
allow system_server sysfs_vibrator:file read;
allow system_server init:binder { call };
allow system_server device:chr_file { ioctl };
allow system_server device:chr_file { read write };
allow system_server mm-qcamerad:binder { call };
allow system_server sysfs:file { getattr };

allow system_server default_android_hwservice:hwservice_manager { find };
