allow untrusted_app bg_boot_complete_prop:file read;
allow untrusted_app bg_daemon_prop:file read;
allow untrusted_app bluetooth_prop:file read;
allow untrusted_app bootloader_boot_reason_prop:file read;
allow untrusted_app proc_vmstat:file read;
allow untrusted_app runtime_event_log_tags_file:file read;
allow untrusted_app boottime_prop:file read;
allow untrusted_app cnd_vendor_prop:file read;
allow untrusted_app console_silent_prop:file read;
allow untrusted_app ctl_LKCore_prop:file read;
allow untrusted_app runtime_event_log_tags_file:file open;
