allow vendor_init rootfs:dir { add_name write };
allow vendor_init cgroup:file create;
allow vendor_init sysfs:dir write;
allow vendor_init sysfs_zram:dir write;
allow vendor_init bluetooth_data_file:dir setattr;
allow vendor_init system_data_file:dir write;
allow vendor_init sysfs:dir add_name;
allow vendor_init sysfs_zram:dir add_name;
allow vendor_init device:file { create write };
allow vendor_init system_data_file:dir { add_name };
allow vendor_init camera_data_file:dir create;
allow vendor_init system_data_file:dir create;
allow vendor_init tombstone_data_file:dir { search setattr };
allow vendor_init camera_data_file:dir setattr;
allow vendor_init system_data_file:dir setattr;
allow vendor_init tombstone_data_file:dir write;
allow vendor_init tombstone_data_file:dir add_name;
allow vendor_init tombstone_data_file:dir create;
