allow vold proc_touchpanel:dir r_dir_perms;
allow vold blkid_untrusted:process noatsecure;
allow vold fsck_untrusted:process noatsecure;
allow vold sgdisk:process noatsecure;
